.container {
  display: flex;
  justify-content: center;
  margin: 40px;
}
.relogio {
  background-color: black;
  color: lime;
  font-size: 24pt;
  font-family: "Roboto Mono", monospace;
  padding: 6px;
  border: 1px solid lime;
}
