h1 {
  color: #00f;
}

#titulo {
  color: #ff0;
}

p em {
  background-color: pink;
}

input[type="text"] {
  background-color: burlywood;
}

.quadrado {
  position: relative;
  left: 100px;
  top: 100px;
  width: 50px;
  height: 50px;
  background-color: aquamarine;
}

.azul {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: green;
}
